body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/*Headers*/

header {
    background-color: #f2e30f;
    padding: 1 rem 2vw;
    border: 4px solid #f250a9;
    border-radius: 0.5rem;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    letter-spacing: 0.5px;   
}


/*Nav*/

nav {
    background-color: #f27405;
}


nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    display: block;
    padding: 0.85rem 1rem;
}

nav li.active a {
    background-color: #5e4ba6;
    color: white;
}

nav a:hover {
    color: white;
}

/*Main*/
main {
    padding: 1rem 2%;
}

main h1 {
    color: #f250a9;
}

main h2 {
    margin-bottom: .2rem;
    color: #f250a9;
}

main p {
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3%;
}

main dl dt {
    color: #024873;
    font-weight: 400;
}

main dl dd {
    font-size: .9rem
}

main ul {
    list-style-type: circle;
}

main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style:normal;
    background-color: #5e4ba6;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
}

main a {
    color: #5e4ba6;
}

main a:hover {
    color: white;
}


/*Image Items here*/

figure.art {
    width: 20%;
    margin: 0 0 0 1.6;
    float: left;
}

figure.art img {
    width: 100%;
    height: auto;
}

figure.art figcaption {
    text-align: center;
    font-size: .85rem;
}

div.pencil {
    display: flex;
    flex-wrap: wrap;
}

div.pencil figure {
    margin: .5rem 2rem 0 0;
}

div.pencil figcaption {
    text-align: center;
    font-size: 1rem;
    color: #5e4ba6;
}

/*joinart*/


.jonArt feildset {
    border: solid 3px #f250a9;
    padding: .3rem;
    
}
.joinArt legend {
    color: #f250a9;
    font-size: 2rem;
}

.joinArt label {
    margin: .5rem;
}

.joinArt [type=tel], .joinArt [type=email], .joinArt [type=text]{
   border: solid 4px #f2e30f;
   padding: .3rem;
   border-radius: .5rem;
   font-family: "Outfit", sans-serif;
   font-weight: 400;
    font-size: 1rem;
}

.joinArt textarea {
    border: solid 4px #f2e30f;
    padding: 1.5rem;
    border-radius: 1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}


.joinArt label, .joinArt [type=text], .joinArt textarea, .joinArt [type=tel], .joinArt [type=email]{
    display: block;
    padding: 0.1rem;
}

.joinArt select {
    border: solid 4px #f2e30f;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}


.joinArt: required {
    background-color: rgba(156,51,53,0.1);
}

.joinArt [type=submit] {
    background-color: #f27405;
    border: #f250a9;
    border-radius: 15px;
    padding: 1vw 2vw;
    color: black;
    
}


/*Footer Stuff here*/
footer {
    background-color: #f250a9;
    text-align: center;
    color: #f250a9;
    padding: 1rem 0;
    font-size: .8rem;
    
}
footer a {
    color: #f250a9;
}













